* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

#display {
	display: flex;
}

/* Header */

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	
	flex-direction: row;
	color: white;
	padding: 1rem;

	.icon {
		width: 20%;
		font-size: 20px;
		text-align: center;
	}

	.upper {
		opacity: 40%;
		position: relative;
		width: 0%;

		.notice {
			position: absolute;
			top: -20%;
			left: -50%;
			transform: translateX(620%);
			height: 8px;
			width: 8px;
			border-radius: 50%;
			background-color: red;
		}
	}

	.line::after {
		position: relative;
		display: block;
		content: '';
		border-bottom: 3px solid white;
		top: 10px;
	}
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	min-height: 100px;

	.position {
		position: relative;
		text-align: center;

		i {
			font-size: 25px;
		}

		p {
			font-size: 12px;
		}

		.number {
			position: absolute;
			text-align: center;
			width: 30%;
			font-size: 12px;
			border-radius: 1rem;
			background-color: #f93050;
			right: 0;
			top: 0;
			transform: translateX(-75%);
		}
	}

	#transparent :not(.number) {
		opacity: 40%;
	}

	.add {
		text-align: center;
		color: black;
		width: 40px;
		font-size: 25px;
		border-radius: 5px;
		background-color: white;
		margin-bottom: 11px;
		box-shadow: 3px 0 0 fuchsia, -3px 0 0 #3cffff;
	}
}

/* Description */

.description-video{
	position: absolute;
	left: 0;
	top: 80%;
	transform: translateY(-20%);
	padding: 1rem;
	min-height: 100px;
	color: #fff;

	.name-profile {
		margin-bottom: 8px;
	}
}

/* Sidebar */

.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 30%; /* piccolo cit per capire, prima era a 40% */

	/* Inserisci qui sotto 
	le tue regole, se necessario. */

	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;
	min-width: 80px;
	min-height: 450px;

	img {
		max-width: 100%;
		width: 50px;
		border-radius: 50%;
		border: 2px solid white;
	}

	.bvs {
		height: 20%;
		position: relative;

		i {
			font-size: 30px;
		}

		p {
			font-size: 15px;
			text-align: center;
		}

		.follow {
			position: absolute;
			right: 30%;
			bottom: -10%;
			text-align: center;
			font-size: 15px;
			width: 40%;
			border-radius: 1rem;
			background-color: #f93050;
		}
	}
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
/*
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

.debug .description-video {
	min-height: 100px;
	border: 2px dashed #fff;
}

 --------------------- */
